<!DOCTYPE html>
<html>
<body>
    <div class="proposal">
        <div class="proposal-info">
            <div>
                <label for="proposalId">Proposal ID:</label>
                <div id="proposalId">{{proposalId}}</div>
            </div>
            <div>
                <label for="companyName">Company Name:</label>
                <div id="companyName">{{companyName}}</div>
            </div>
            <div>
                <label for="address">Address:</label>
                <div id="address">{{address}}</div>
            </div>
            <div>
                <label for="amount">Amount:</label>
                <div id="amount">{{amount}}</div>
            </div>
            <div>
                <label for="description">Proposal Description:</label>
                <div id="description">{{description}}</div>
            </div>
            <div>
                <label for="status">Status:</label>
                <div id="status">{{status}}</div>
            </div>
        </div>
    </div>
</body>
</html>