<!--<!DOCTYPE html>
<html>
<body>-->
<div class="proposal">
    <h1>Proposal</h1>
    <div class="proposal-info">
        <br />
        <div class="item">
            <label for="proposalId">Proposal ID:</label>
            <div id="proposalId">{{proposalId}}</div>
        </div>
        <br />
        <div class="item">
            <label for="companyName">Company Name:</label>
            <div id="companyName">{{companyName}}</div>
        </div>
        <br />
        <div class="item">
            <label for="address">Address:</label>
            <div id="address">{{address}}</div>
        </div>
        <br />
        <div class="item">
            <label for="amount">Amount:</label>
            <div id="amount">{{amount}}</div>
        </div>
        <br />
        <div class="item">
            <label for="description">Proposal Description:</label>
            <div id="description">{{description}}</div>
        </div>
        <br />
        <div class="item">
            <label for="status">Status:</label>
            <div id="status">{{status}}</div>
        </div>
    </div>
</div>

<div style='height: 40px'></div>
<!--</body>
</html>-->
